includes:
    - phpstan-baseline.neon
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - routes/
        - tests/

    level: 5

    ignoreErrors:
        # 1) Undefined properties en Eloquent
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::.*#'

        # 2) Undefined methods en Eloquent
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Model::.*#'
